.get-patient-details h1 {
    text-align: center;
}

.get-patient-details .table {
    border: 2px solid black;
    margin: 20px 40px;
}

.get-patient-details .table > ion-row {
    margin: 8px 0;
}

.get-patient-details .table-header {
    border-bottom: 2px solid black;
    padding: 0 0 10px 0;
}