.test-login ion-row {
    margin: 20px 0;
}

.test-login ion-col {
    background-color: white;
    border: solid 2px #000000;
    border-radius: 12px;
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
}

.test-login ion-radio {
    margin: 0 7px;
}

.test-login ion-content > h1 {
    text-align: center;
}

.test-login ion-content > .button-container {
    display: flex;
    justify-content: center;
}